$fontBlue: rgb(5, 2, 29);
$fontYellow: #d2da4b;
$backLight: #86a1a7;
$backCard:rgb(240, 245, 255);
$backGroundImage: url('../assets/images/planets.jpg');
$borderRadius: 5px;

%fontFamily {
  font-family: 'Creepster', cursive;
}

@mixin flex($flexDirection: row) {
  display: flex;
  flex-direction: $flexDirection; 
}
