@import '../../../../src/consts/variables.scss';

.form {
    display: flex;
    flex-direction: row;

    &__input {
        margin-bottom: 20px;
        margin-top: 50px;
        
        input {
            height: 30px;
            width: 300px;
            border: none;
            border-radius: 5px;
        }
    }

    &__save {
        height: 36px;
        margin-left: 10px;
        border: none;
        border-radius: 50%;
        background-color: $fontYellow;
        color: $fontBlue;
        font-weight: 700;
    }
}