@import '../variables.scss';

.list {
    height: 100%;
    @include flex();
    justify-content: center;
    align-items: center;
    
    &__logo {
        @include flex($flexDirection: row);
        
        & > img {
            width: 450px;
            margin: 0 15px 15px 0;
        }
    }
}
@media screen and (max-width: 600px) {
    .list {
        &__logo {
            & > img {
                width: 200px;
            }
        }
    }
}