@import '../variables.scss';

.mapCharacter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    &__card {
        height: 300px;
        width: 240px;
        @include flex($flexDirection: column);
        background-color: $backCard;
        border: 1px solid $fontYellow;
        margin: 0 5px 5px 0;
        border-radius: $borderRadius;
        text-decoration: none;
    }

    &__img {
        
        & > img {
            height: 240px;
        }
    }

    &__name {
        @include flex();
        justify-content: center;
        text-align: center;
        margin-top: 10px;
        font-size: 17px;
        color: $fontBlue;
    }
}
@media screen and (max-width: 600px) {
    .mapCharacter {
        &__name {
            font-size: 15px;
        }
    }
}