@import '../variables.scss';

.watchList {
    height: 100%;
    width: 100%;
    @include flex($flexDirection: row);
    justify-content: center;
    align-items: center;
    
    &__component {
        background-color: rgb(46, 49, 59);
        padding: 20px;
        border-radius: $borderRadius;
        height: 450px;
    }

    &__title {
        font-weight: 700;
        font-size: 45px;
        text-align: center;
        position: relative;
        z-index: 3;
        color: $fontYellow;
    }
}
@media screen and (max-width: 600px) {
    .watchList {
        &__component {
            padding: 10px;
            height: 350px;
        }
    
        &__title {
            font-size: 25px;
        }
    }
}