@import '../../../../src/consts/variables.scss';

.episode {
    display: flex;
    flex-direction: row;

    div {
        width: 300px;
        height: 30px;
        border: 1px solid silver;
        margin-bottom: 10px;
        border-radius: 5px;
        background-color: #ecf0a0;
        color: #085666;
    }

    &__strike {
        text-decoration: line-through;
    }

    &__normal {
        text-decoration: none;
    }

    &__delete, &__check {
        height: 30px;
        img {
            height: 25px;
        }
    }
    
    button {
        background-color: transparent;
        border: none;
    }
}
